/* Card CSS */

.card{
	height:75vh;
	background-color:black;
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	margin:1rem;
	padding:1rem;
	color:white;
	img{
		max-width:100%;
	}
}

.articles{
	background:black;
	.card:first-child{
	  	background-image: 
		  	linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.76)), 
		  	url(../img/dummy/le-marais-image.png);
		border:none;
  	}
	.card:nth-child(2){
	  	background-image: 
		  	linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.76)), 
		  	url(../img/dummy/sketch-london.png);
		border:none;
  	}
}