.footer{
	color:white;
	display:flex;
	justify-content: space-between;
	padding:1rem;
	align-items:right;
	background:#222222;
	a{
		text-decoration: none;
		color:white;
	}
	.left, .right{
		width:25%;
		max-width:125px;
	}
}